*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.home-page{
  background-color: black;
}

.login-page{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/login-page.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}
.product-page,
.favorite-page,
.cart-page,
.login-page,
.profile-page {
  padding: 120px 0;
}
