.information{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.information h3{
  margin-bottom: 20px;
}
.profile-btn{
  display: flex;
  gap:20px;
  justify-content: center;
}
.profile-btn button{
  width: 100px;
  margin-top: 20px;
}