.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px 80px;
  height: 100px;
  align-items: center;
  
}
.navbar-blur{
  background: transparent;
  backdrop-filter: blur(10px);
}
.navbar-logo{
  flex:1
}
.navbar-logo svg{
  width: 45%;
}
.navbar-menu{
  width: 20%;
  background: transparent;
  backdrop-filter: blur(10px);
  flex:.65;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-radius: 60px;
}

.btn-white button{
  color: #fff;
}

.navbar-right{
  flex:1;
}