.navbar{
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px 80px;
  height: 100px;
  align-items: center;
  
}
.navbar-blur{
  background: transparent;
  backdrop-filter: blur(10px);
}
.navbar-logo{
  flex:2
}
.navbar-logo svg{
  width: 20%;
}
.navbar-menu{
  flex:1;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.btn-white button{
  color: #fff;
}